# Mac
.DS_Store
# JS
build
dist
node_modules
# Croquet npm
/packages/croquet/cjs
/packages/croquet/pub
# VSCode
.vscode
*.code-workspace
# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
# new additions
