.DS_Store
.log
.parcel-cache
.npmrc
.env*
**/cottontail/.eslintrc.json
dev/**/.eslintrc.json
.gh-pages
.github-io
*~
*.sln
gdax_node_api/node_modules
dev/build
cloud_site/polymer_site/bower_components
cust-examples/cust1/*.txt
**/simplehttpserver.js
**/webgl-debug.js
ngrok
**/node_modules/
**/.cache/
**/dist/
**/.vscode/
**/.env*.local
croquet/minimal/q.js
croquet/minimal/q.js.map
stats.txt
croquet/whiteboard/ngrok.exe
croquet/wc_demo_three/ngrok.exe
croquet/Hitachi/assets/substation.glb
croquet/Hitachi/assets/substation_bimfra/scene.bin
croquet/Hitachi/assets/substation_bimfra/scene.gltf
docker/images/pi-web/etc-letsencrypt.tar.gz
*.code-workspace
*.meta
