.kwd { color: #268bd2; } /* keyword */
.pln { color: #b58900; } /* plaintext */
.pun { color: #839496; } /* punctuation */
.typ { color: #657b83; } /* type */
.com { color: #93a1a1; font-style: italic; } /* comment */
.lit { color: #2aa198; } /* literal */
.str { color: #2aa198; } /* string */
.tag { color: #268bd2; } /* tag */
.atn { color: #657b83; } /* attribute name */
.atv { color: #2aa198; } /* attribute value */
.opn { color: #839496; } /* Lisp open bracket */
.clo { color: #839496; } /* Lisp close bracket */
.dec { color: #839496; font-style: italic; } /* declaration */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
